{% extends "base_goods.html" %}
{% block content %}
    <!-- /.container -->
   {% for ipad in object_list %}
        {% if ipad.category.name == 'iPad' %}
        {% if ipad.zindex %}
            <div class="container-fluid" style="padding-right: 0px; padding-left: 0px;">
            <div class="jumbotron" style="margin-bottom: 0px; border-radius: 0px; background-color: #fafafa; padding-bottom: 0px">
                <div class="container-fluid">
                    <div class="hero7sm hidden-lg hidden-md">
                        <h1 class="mactext" style="font-size: 38px">{{ ipad.head }}</h1>
                        <h2 class="mactext" style="font-size: 26px">{{ ipad.text|safe }}</h2>
                    </div>
                </div>
            </div>
            <div class="jumbotron ipadprolg hidden-xs hidden-sm hidden-md" style="margin-bottom: 0px; border-radius: 0px; background-image: url('/static/img/ipad/{{ ipad.img_lg }}')">
                <div class="hero7lg hidden-xs hidden-sm" style="z-index: 2">
                    <h1 class="mactext" style="font-size: 56px; font-weight: 500">iPad Pro</h1>
                    <h2 class="mactext" style="font-size: 40px">{{ ipad.text|safe }}</h2>
                </div>
            </div>
            <div class="jumbotron ipadpromd hidden-xs hidden-sm hidden-lg" style="margin-bottom: 0px; border-radius: 0px; background-image: url('/static/img/ipad/{{ object.img_md }}')">
                <div class="hero7lg hidden-xs hidden-sm" style="z-index: 2">
                    <h1 class="mactext" style="font-size: 56px; font-weight: 500">{{ ipad.head }}</h1>
                    <h2 class="mactext" style="font-size: 40px">{{ ipad.text|safe }}</h2>
                </div>
            </div>
            <div class="jumbotron ipadprosm hidden-md hidden-lg" style="margin-bottom: 0px; border-radius: 0px; background-image: url('/static/img/ipad/{{ ipad.img_sm }}')"; ></div>
        {% else %}
            <div class="jumbotron ipadprosm hidden-md hidden-lg" style="margin-bottom: 0px; border-radius: 0px; background-color: #eee"></div>
            <div class="container-fluid" style="padding-right: 0px; padding-left: 0px;">
            <div class="jumbotron" style="margin-bottom: 0px; border-radius: 0px; background-color: #fafafa; padding-bottom: 0px">
                <div class="container-fluid">
                    <div class="hero7lg hidden-xs hidden-sm">
                        <h1 class="mactext" style="font-size: 56px; font-weight: 500">{{ ipad.head }}</h1>
                        <h2 class="mactext" style="font-size: 40px">{{ ipad.text|safe }}</h2>
                    </div>
                    <div class="hero7sm hidden-lg hidden-md">
                        <h1 class="mactext" style="font-size: 38px">{{ ipad.head }}</h1>
                        <h2 class="mactext" style="font-size: 26px">{{ ipad.text|safe }}</h2>
                    </div>
                </div>
            </div>
            <div class="jumbotron ipadlg  hidden-xs hidden-sm hidden-md" style="margin-bottom: 0px; border-radius: 0px; background-color: #eee; background-image: url('/static/img/ipad/{{ ipad.img_lg }}')"></div>
            <div class="jumbotron ipadmd  hidden-xs hidden-sm hidden-lg" style="margin-bottom: 0px; border-radius: 0px; background-color: #eee; background-image: url('/static/img/ipad/{{ ipad.img_md }}')"></div>
            <div class="jumbotron ipadsm  hidden-md hidden-lg" style="margin-bottom: 0px; border-radius: 0px; background-color: #eee; background-image: url('/static/img/ipad/{{ ipad.img_sm }}')"></div>
            {% endif %}
       {% endif %}
    {% endfor %}
{% endblock %}