{% extends "base_goods.html" %}
{ {% block content %}

    <!-- /.container -->
    <div class="container-fluid" style="padding-right: 0px; padding-left: 0px;">
        <div class="jumbotron" style="margin-bottom: 0px; border-radius: 0px;">
            <div class="container-fluid">
                <div class="hero7lg hidden-xs hidden-sm">
                    <h1>iPhone</h1>
                    <h2>Это&nbsp7</h2>
                    <img src="/static/img/hero_large.jpg" alt="iPhone 7" class="hidden-sm hidden-xs">
                    <div class="iphone7text">
                        <p>В iPhone 7 все важнейшие аспекты iPhone значительно улучшены.Это принципиально новая система камер для фото- и видеосъёмки. Максимально мощный и экономичный аккумулятор iPhone. Стереодинамики с богатым звучанием. Самый яркий и разноцветный из всех дисплеев iPhone. Защита от брызг и воды.1 И его внешние данные впечатляют не менее, чем внутренние возможности. Всё это iPhone 7.</p>
                    </div>
                </div>
                <div class="hero7sm hidden-lg hidden-md">
                    <h1>iPhone</h1>
                    <h2>Это&nbsp7</h2>
                    <img src="/static/img/hero_small.jpg" alt="iPhone 7" class="iphone7small">
                </div>
            </div>
        </div>
        <div class="jumbotron desbgcolorlg hidden-xs hidden-sm"  style="margin-bottom: 0px; border-radius: 0px;">
            <div class="container-fluid">
                <div class="design">
                    <div class="designtext">
                        <h2>Дизайн</h2>
                        <h3>Допускается&nbsp немного&nbsp воды. <br> И море&nbsp внимания.</h3>
                        <div class="badgeblock">
                            <div class="DesNewColors">
                                <img src="/static/img/design_badge_finishes_large.png" alt="Colors iPhone">
                                <p>Новые цвета: «чёрный оникс» и чёрный</p>
                            </div>
                            <div class="DesProdRed">
                                <img src="/static/img/design_badge_product_red_large.png" alt="Product Red">
                                <p>(PRODUCT)﻿RED</p>
                            </div>
                            <div class="DesWaterproof">
                                <img src="/static/img/design_badge_water_large.png" alt="Waterproof" style="margin-left: 45px;">
                                <p>Защита от брызг и воды</p>
                            </div>
                            <div class="DesHomeButton">
                                <img src="/static/img/design_badge_homebutton_large.png" alt="Homebutton">
                                <p>Новая кнопка «Домой»</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="jumbotron desbgcolorsm hidden-md hidden-lg"  style="margin-bottom: 0px; border-radius: 0px;">
            <div class="container-fluid">
                <div class="design">
                    <div class="designtext">
                        <h2>Дизайн</h2>
                        <h3>Допускается&nbsp немного&nbsp воды. <br> И море&nbsp внимания.</h3>
                        <div class="badgeblocksm">
                            <div style="float: left; width: 125px; margin-left: 10%;">
                                <div class="DesNewColors">
                                    <img src="/static/img/design_badge_finishes_large.png" alt="Colors iPhone">
                                    <p>Новые цвета: «чёрный оникс» и чёрный</p>
                                </div>
                                <div class="DesProdRed">
                                    <img src="/static/img/design_badge_product_red_large.png" alt="Product Red">
                                    <p>(PRODUCT)﻿RED</p>
                                </div>
                            </div>
                            <div style="float: left; width: 125px">
                                <div class="DesWaterproof">
                                    <img src="/static/img/design_badge_water_large.png" alt="Waterproof" style="margin-left: 45px;">
                                    <p>Защита от брызг и воды</p>
                                </div>
                                <div class="DesHomeButton">
                                    <img src="/static/img/design_badge_homebutton_large.png" alt="Homebutton">
                                    <p>Новая кнопка «Домой»</p>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="jumbotron desbgcameralg hidden-xs hidden-sm"  style="margin-bottom: 0px; border-radius: 0px;">
            <div class="container-fluid">
                <div class="design">
                    <div class="designtext">
                        <h2>Камера iPhone 7</h2>
                        <h3>Совершенно новый взгляд на камеру.</h3>
                        <div class="badgeblock">
                            <div class="DesNewColors">
                                <span style="font-size: 48px; color: #eee; margin-left: 13px;">12</span><span style="font-size: 27px; color: #eee">Мп</span>
                                <p>Камера</p>
                            </div>
                            <div class="DesProdRed">
                                <img src="/static/img/camera_badge_stabilization_large.png" alt="Camera">
                                <p>Оптическая стабилизация изображения</p>
                            </div>
                            <div class="DesWaterproof">
                                <span style="font-size: 48px; color: #eee; margin-left: 24px;">7</span><span style="font-size: 27px; color: #eee;">Мп</span>
                                <p>HD-камера FaceTime</p>
                            </div>
                            <div class="DesHomeButton">
                                <img src="/static/img/camera_badge_flash_large.png" alt="Homebutton">
                                <p>Вспышка <br> True Tone <br> Quad-LED</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="jumbotron desbgcamerasm hidden-md hidden-lg"  style="margin-bottom: 0px; border-radius: 0px;">
            <div class="container-fluid">
                <div class="design">
                    <div class="designtext">
                        <h2>Камера iPhone 7</h2>
                        <h3>Совершенно новый взгляд на камеру.</h3>
                        <div class="badgeblocksm">
                            <div style="float: left; width: 125px; margin-left: 10%;">
                                <div class="DesNewColors">
                                    <span style="font-size: 48px; color: #eee; margin-left: 13px;">12</span><span style="font-size: 27px; color: #eee">Мп</span>
                                    <p>Камера</p>
                                </div>
                                <div class="DesProdRed">
                                    <img src="/static/img/camera_badge_stabilization_large.png" alt="Camera">
                                    <p>Оптическая стабилизация изображения</p>
                                </div>
                            </div>
                            <div style="float: left; width: 125px">
                                <div class="DesWaterproof">
                                    <span style="font-size: 48px; color: #eee; margin-left: 24px;">7</span><span style="font-size: 27px; color: #eee;">Мп</span>
                                    <p>HD-камера FaceTime</p>
                                </div>
                                <div class="DesHomeButton">
                                    <img src="/static/img/camera_badge_flash_large.png" alt="Homebutton">
                                    <p>Вспышка <br> True Tone <br> Quad-LED</p>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}